body{
	margin: 0;
	font-family: Helvetica, Ariel, sans-serif;
}

{{#if page.title '!==' 'Home'}}
        <h1 class="page-heading">{{ page.title }}</h1>
 {{/if}}

/* header styles */
header{
	padding-left: 50px;
	background-color: darkgreen;
	padding-top: 50px;
	padding-bottom: 50px; 
}

h1, h2{
	font-family: 'Roboto', sans-serif;
}

header h1{
	color: white;
	padding-left: 50px;
	font-size: 40px;
	font-family: Helvetica, Ariel, sans-serif;
}

h2{
	padding: 5px;
	font-size: 30px;
	color: #004D40;
}

header img{
	border-radius: 150px;
	width: 500px;
	border: 20px solid navy;
}

main{
}

h1{
	font-family: 'Roboto', sans-serif;
	color: fuchsia;
}

footer{
	padding: 100px;
	color: green;
}
footer-hover{
	opacity: .5;
	background-color: green;
}

p{
	color: black
	font-size:20px;
}
p.caption{
	color: black;
	font-style: italic;
}

}