body{
	margin: 0;
	font-family: Helvetica, Ariel, sans-serif;
}

header{
	text-align: center;
	background-color: lightpink;
	padding-top: 50px;
	padding-bottom: 50px; 
}

h1, h2{
	font-family: 'Roboto', sans-serif;
}

header h1{
	text-align: center;
	font-size: 40px;
	font-family: Helvetica, Ariel, sans-serif;
}

h2{
	font-size: 30px;
	text-align: center;
	color: #004D40;
}

header img{
	border-radius: 50px;
	width: 500px;
	border: 20px solid black;
}

main{
	max-width: 800px;
}

main img {
	max-width: 100%;
}

ol, ul{
	font-size: 20px;
	color: green;
}

a{
	color: green;  
}
a:hover{
	color: white;
	background-color: green;
}

footer a{
	color: #004D40;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p{
	color: black
	font-size:20px;
}
p.caption{
	color: #9999;
	font-style: italic;
}

}