body{
	margin: 0px;
}

header{
	text-align: center;
	background-color: lightgreen;
}

h1{
	font-size: 40px;
	color: blue;
}

header img{
	border-radius: 50px;
	width: 500px;
	border: 20px;
	border-color: blue;
}