body{
	margin: 0;
	font-family: Helvetica, Ariel, sans-serif;
}

/* header styles */
header{
	padding-left: 50px;
	background-color: lightpink;
	padding-top: 50px;
	padding-bottom: 50px; 
}

h1, h2{
	font-family: 'Roboto', sans-serif;
}

header h1{
	color: navy;
	padding-left: 50px;
	font-size: 40px;
	font-family: Helvetica, Ariel, sans-serif;
}

h2{
	padding: 5px;
	font-size: 30px;
	color: darkgreen;
}

header img{
	border-radius: 150px;
	width: 500px;
	border: 20px solid navy;
}

main{
	max-width: 800px;
	padding-left: 50px;
}

main img {
	max-width: 300px;
	padding-left: 50px;
}

ol, ul{
	font-size: 20px;
	color: green;
}

a{
	color: green;  
}
a-hover{
	color: white;
	background-color: green;
}

footer{
	padding: 50px;
	color: white;
	font-weight: bold;
	font-size: 20x;
	background: darkgreen;
}
footer-hover{
	opacity: 0.5;
	background-color: transparent;
}

p{
	color: black
	font-size:20px;
}
p.caption{
	color: black;
	font-style: italic;
}
}